{TEMPLATE}template/template2{END}
{#BODY}
<div class="reg-log">
    <div class="circle"></div>
    <h1>A tout de suite</h1>
    Bravo, tu auras bientôt accès à tout le savoir, mais il te reste juste à valider ton adresse email : ({{email}}).<br><br>
    Tu as reçu un email avec un lien de validation. Il te suffit de cliquer sur ce dernier, puis promis, c'est fini :)<br/><br/>
    Si tu n'as rien reçu, contrôle ta boîte SPAM.<br><br>
    <a href="/" class="button">Retour au site</a>
</div>
{#END}